<div >
	
	<table>
		<thead>
			<tr>
				<th class="text-center">Id</th>
				<th class="text-center">Departamento</th>
				<th class="text-center">Seudonimo</th>
				<th class="text-center">Acciones</th>
			</tr>
		</thead>
		<tbody ng-repeat = "(key, item) in data" ng-click="item.selected=!item.selected">
			<td class="text-center">&nbsp;{{item.id}}&nbsp;</td>
			<td class="text-center">&nbsp;{{item.name}}&nbsp;</td>
			<td class="text-center">&nbsp;{{item.seudonimo}}&nbsp;</td>
			<td class="text-center">
				&nbsp;<button ng-click="verProyectos(item)" type="button" class="btn btn-success" data-title="Editar">Ver Proyectos</button>&nbsp;
				&nbsp;<button ng-click="delete(item)" type="button" class="btn btn-danger" data-title="Eliminar">Eliminar</button>&nbsp;
			</td>
		</tbody>
	</table>
	<br>
	<footer>
		<button ng-click="cancelar()" type="button" class="btn btn-success" data-title="cancelarr">Regresar</button>
	</footer>
</div>