<!DOCTYPE html>
<html ng-app = "solin">
	<head>
		
		<meta name="tipo_contenido"  content="text/html;" http-equiv="content-type" charset="utf-8">

		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>

		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

		<link rel="stylesheet" href="../../lib/css/bootstrap.min.css">

		<script type="text/javascript" src="../../lib/js/bootstrap.min.js"></script>
		
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
	    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
	    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

	    <script src="../../node_modules/angular-base64/angular-base64.js"></script>

		<script type="text/javascript" src="../../js/controller/admin.js"></script>

		<title>Datos del Usuario</title>
	</head>
	<body ng-controller = "AdminController">
		<form>
			<div class="form-group">
				<label>Nombre</label>
				<input type="text" name="nombre" ng-model="item.name.n">
			</div>
			<div class="form-group">
				<label>Apellido Parterno</label>
				<input type="text" name="nombre" ng-model="item.name.p">
			</div>
			<div class="form-group">
				<label>Apellido Materno</label>
				<input type="text" name="nombre" ng-model="item.name.m">
			</div>
			<div class="form-group">
				<label>Usuario</label>
				<input type="text" name="email" ng-model="item.email">
			</div>
			<div>
				<label>Password</label>
				<input type="text" name="password" ng-model="item.password">
			</div>
			<div>
				<label>Departamento</label>
				<select  ng-model="item.id_departamento">
					<option ng-repeat="(key, option) in data1" value="{{option.id}}">{{option.name}}</option>
				</select>
			</div>
		</form>
		<button ng-click="crear()" type="button" class="btn btn-success" data-title="guardar">Guardar</button>
		<button ng-click="update()" type="button" class="btn btn-success" data-title="guardar">Guardar cambios</button>
		<button ng-click="delete()" type="button" class="btn btn-success" data-title="guardar">Eliminar</button>
	</body>
</html>