<div class="container" ng-controller="LoginController">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="well">
            <h3>Login</h3>
            <form>
                <div class="form-group">
                    <input type="text" name="email" class="form-control" placeholder="Email" ng-model="loginForm.email">
                </div>
                <div class="form-group">
                    <input type="password" name="password" class="form-control" placeholder="Password" ng-model="loginForm.password">
                </div>
                <button class="btn btn-primary" ng-click="login()">Iniciar Sesión</button>
            </form>
        </div>
    </div>
</div>