<div ng-controller = "ProyectoController">
	<form>
		<div class="form-group">
			<label>Nombre del Proyecto</label>
			<input type="text" name="nombre" ng-model="item.name">
		</div>
		
		<div class="form-group">
			<label>Clave</label>
			<input type="text" name="email" ng-model="item.clave">
		</div>

		<div class="form-group">
			<label>Saldo del Proyecto</label>
			<input type="number" name="email" ng-model="item.saldo">
		</div>
		
		<div ng-show = "!formOption" class="form-group">
			<label>Monto Asignado</label>
			<input type="number" name="email" ng-model="item.montoAsignado" min="0" max="1000000">
		</div>
		
	</form>
	<div ng-switch="formOption">
		<button ng-show = "formOption" ng-click="crear()" type="button" class="btn btn-success" data-title="guardar">Guardar</button>
		<button ng-show = "!formOption" ng-click="update()" type="button" class="btn btn-success" data-title="guardar">Guardar cambios</button>
		<button ng-click="cancelar()" type="button" class="btn btn-success" data-title="cancelarr">Cancelar</button>
	</div>
</div>