<div >
	
	<table>
		<thead>
			<tr>
				<th class="text-center">Id</th>
				<th class="text-center">Nombre del Proyecto</th>
				<th class="text-center">Clave del Proyecto</th>
				<th class="text-center">Saldo del Proyecto</th>
				<th class="text-center">Usuario Creador</th>
				<th class="text-center">Monto asignado del Proyecto</th>
				<th class="text-center">Departamento</th>
				<th class="text-center">Acciones</th>
			</tr>
		</thead>
		<tbody ng-repeat = "(key, item) in data" ng-click="item.selected=!item.selected">
			<td class="text-center">&nbsp;{{item.proyecto_id}}&nbsp;</td>
			<td class="text-center">&nbsp;{{item.nameProyecto}}&nbsp;</td>
			<td class="text-center">&nbsp;{{item.claveProyecto}}&nbsp;</td>
			<td class="text-center">&nbsp;{{item.saldoProyecto}}&nbsp;</td>
			<td class="text-center">&nbsp;{{item.nameUsuario}}&nbsp;</td>
			<td class="text-center">&nbsp;{{item.montoAsignado}}&nbsp;</td>
			<td class="text-center">&nbsp;{{item.nameDepartamento}}&nbsp;</td>
			<td class="text-center">
				&nbsp;<button ng-show="rol != 2" ng-click="abrirForm(0,item)" type="button" class="btn btn-success" data-title="Editar">Ver Proyectos</button>&nbsp;
				&nbsp;<button ng-show="rol != 2" ng-click="delete(item)" type="button" class="btn btn-danger" data-title="Eliminar">Eliminar</button>&nbsp;
			</td>
		</tbody>
	</table>
	<br>
	<footer>
		<button ng-show="rol != 2" ng-click="abrirForm(1,item)" type="button" class="btn btn-success" data-title="guardar">Nuevo proyecto</button>
		<button ng-show="rol != 2" ng-click="cancelar()" type="button" class="btn btn-success" data-title="cancelarr">Regresar</button>
		<button ng-show="rol == 2" ng-click="cancela()" type="button" class="btn btn-success" data-title="cancelarr">Regresar</button>
	</footer>
</div>