
<div ng-controller="SolinController" class="container-fluid">
	
	<div name="contenido" id="contenido" class="container col-sm-12 ">
		<header class="row text-center" id="titulo" name="titulo">
			
			<div class="col-sm-6 text-center">
				<br>
				<h2>SOLICITUD DE GASTOS</h2>
			</div>
			
		</header>
		
		<div class="row" id="form" name="form">
			<form class="">

				<div class="row form-group">
					<label class="col-sm-4 col-form-label">PROYECTO:</label>
					<div class="col-sm-8">
						<select ng-model="item.proyecto_id" ng-change="verificar()" class="form-control" name="gasto" id="gasto">
							<option ng-repeat="(key, option) in data" value="{{option.id}}">{{option.nameProyecto}}</option>
						</select>
					</div>
				</div>

				<div class="row form-group">
					<label class="col-sm-8 col-form-label">SOLICITO A USTED AUTORIZACION POR LA CANTIDAD DE:</label>
					<div class="col-sm-4">
						<input ng-model="item.monto" ng-change="verificarMonto(item.monto)" class="form-control" type="number" name="cantidad" id="cantidad" min="0" max="100000">
					</div>
					
				</div>

				<div class="row form-group">
					<label class="col-sm-4 col-form-label">CANTIDAD CON LETRA:</label>
					<div class="col-sm-8">
						<input ng-model="item.montoL" class="form-control" type="text" name="cantCon_letra" id="cantCon_letra">
					</div>
				</div>

				<div class="row form-group">
					<label class="col-sm-4 col-form-label">DESCRIPCION DEL GASTO:</label> 
					<div class="col-sm-12">
						<textarea ng-model="item.descripcion" style="resize: none;" class="form-control input-lg"></textarea>
					</div>
				</div>

				<div class="row form-group">
					<label class="col-sm-4 col-form-label">SOLICITADO POR:</label>
					<div class="col-sm-8">
						<input ng-model="item.user" class="form-control" type="text" name="solicitado" id="solicitado">
					</div>
				</div>

				<div class=" row form-group">
					<label class="col-sm-2 col-form-label">CARGO:</label>
					<div class="col-sm-8">
						<input ng.model="item.cargoCr" class="form-control" type="text" name="cargo" id="cargo">
					</div>
				</div>

				<div class=" row form-group">
					<label class="col-sm-5 col-form-label">COMPROBANTES ENTREGADOS:</label>
					<div class="col-sm-7">
						<select ng-model="item.comprobantes" class="form-control" name="comprobante" id="comprobante">
							<option value="0">SIN COMPROBANTES</option>
							<option value="1">FACTURAS ORIGINALES</option>
						</select>
					</div>
				</div>

				<div ng-if="item.comprobante == 1" class=" row form-group">

					<!--div class="col-sm-12  text-center">
						<div class="row form-group">
							<div class="col-sm-2"></div>
							
							<div class="text-center col-sm-5">
								No. DE FACTURA
							</div>

							<div class="text-center col-sm-5">
								IMPORTE
							</div>
						</div>

						<div class="row form-group">
							<div class="text-center col-sm-2">
								1
							</div>
							<div class="col-sm-5">
								<input class="form-control" type="text" name="fact-1" id="fact-1">
							</div>
							<div class="col-sm-5">
								<input class="form-control" type="text" name="imp-1" id="imp-1">
							</div>
						</div>
					</div-->

				</div>

				<div class="row form-group">
					<label class="col-sm-3 col-form-label">FORMA DE PAGO:</label>
					<div class="col-sm-8">
						<select ng-model="item.pago" class="form-control" name="pago" id="pago">
							<option>CHEQUE</option>
							<option>FONDO REVOLVENTE</option>
							<option>TRANSFERENCIA</option>
						</select>
					</div>
				</div>

				<div class="row form-group">
					<label class="col-sm-3 col-form-label">A NOMBRE DE:</label>
					<div class="col-sm-8">
						<input ng-model="item.n_pago" class="form-control" type="text" name="aNombre" id="aNombre">
					</div>
				</div>
			</form>
		</div>
		<br>
		<br>
		<br>
		<footer class="row">
			<button ng-show="item.opcion == 1" ng-disabled="aut" ng-click="crear()" type="button" class="btn btn-success" data-title="guardar">Guardar</button>
			<button ng-show="item.opcion == 2" ng-disabled="aut" ng-click="update()" type="button" class="btn btn-success" data-title="guardarCambios">Guardar Cambios</button>
		</footer>

	</div>
	
</div>